/* Contenedor de la sección Comunidad */

body {
    font-family: 'Inter', sans-serif;
    background-color: #f8f9fa;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.repo-card {
    transition: transform 0.2s;
    height: 100%;
}

.repo-card:hover {
    transform: translateY(-5px);
}



footer {
    background-color: #212529;
    color: white;
    padding: 2rem 0;
    margin-top: 3rem;
}

#followers-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: start;
    padding: 10px 0;
    font-size: 20px;
}

/* Estilo para la foto de cada seguidor (Miniatura) */
#followers-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: start;
    padding: 10px 0;
    font-size: 25px;
}

/* Estilo para la foto de cada seguidor (Miniatura) */
.follower-img {
    width: 55px;
    height: 55px;
    object-fit: cover; /* Evita que la imagen se deforme */
    border-radius: 50%; /* Las hace circulares */
    border: 2px solid #e9ecef;
    transition: all 0.3s ease; /* Suaviza la animación */
    cursor: pointer;
}